.vote_buttons { 
	float:right; 
	margin:-1px -1px 0px 0px; }
.vote_up,
.vote_down,
.cant_vote,
.not_voted { 
	width:24px; height:24px; float:left;
	font-size:0; }
.vote_up,
.cant_vote_up { background-position:-45px -60px; }
.vote_down,
.cant_vote_down { 
	background-position:-69px -60px;
	margin-left:7px; }
.vote_up:hover { background-position:-45px -108px; cursor:pointer; }
.vote_down:hover { background-position:-69px -108px; cursor:pointer; }
.voted_up { background-position:-45px -84px; }
.voted_down { background-position:-69px -84px; }