

/* highlighted */
	/* selected or highlighted elements */
	%highlight_standout
	{
		color:rgba($white,1); background-color:rgba($success,1);
		a { color:rgba($white,1); }
	}
	/* hovered elements, not selected */
	%highlight_noticable
	{
		color:rgba($dark_grey,1); background-color:rgba($success,0.5);
		a { color:rgba($dark_grey,1); }
	}
	/* hovered elements, not selected */
	%highlight_hover
	{
		color:rgba($white,1); background-color:rgba($success,0.5);
		a { color:rgba($white,1); }
	}
	/* hovered elements, not selected */
	%highlight_standback
	{
		color:rgba($dark_grey,1); border:1px solid rgba($success,1);
		a { color:rgba($dark_grey,1); }
	}

/* normal */
	/* selected or highlighted elements */
	%standout
	{
		color:rgba($white,1); background-color:rgba($dark_grey,1);
	}
	/* hovered elements, not selected */
	%noticable
	{
		color:rgba($white,1); background-color:rgba($mid_grey,0.7);
	}
	/* other elements in background */
	%standback
	{
		color:rgba($mid_grey,1); border:1px solid rgba($mid_grey,1);
	}

/* background */
	/* background element overlay */
	%background_standout
	{
		background-color:rgba($mid_grey,0.7);
	}
	/* background element background */
	%background_standback
	{
		background-color:rgba($mid_grey,0.45);
	}