.bct
{
	width:100%; float:left;
	margin:10px 0px;
	li
	{
		float:left;
		text-transform:lowercase;
		padding:0px 10px 0px 0px;

		&:after 
		{ 
			content:'\003e';
		}
	}
	li:last-child
	{
		&:after 
		{ 
			content:'';
		}
	}
}